{% extends "base.html" %}

{% block body %}

    <form method="POST" action="/admin">
        <ol>
            {% if data is string %}
                {{data}}
            {% else %}
                {% for u in data %}
                    <li>{{u.username}} - {{u.usertype}}
                    <input type="CHECKBOX" name="{{u.username}}" value="{{u.username}}" checked="checked" /></li>
                {% endfor %}
            {% endif %}
        </ol>
        <input type="SUBMIT" value="Enable" />
    </form>

{% endblock %}
