{% extends "base.html" %}

{% block body %}

    <div>
        <textarea rows="10" cols="100" id="mytextarea">
            Awesome stuff will appear here!
        </textarea><br />
        <button type="button" onclick="get_users('pilot');" id="pilotbutton">Test Pilot API</button>
        <button type="button" onclick="get_users('team');" id="teambutton">Test Team API</button>
        <button type="button" onclick="get_users('crew');" id="crewbutton">Test Crew API</button>
    </div>

{% endblock %}