{% extends "base.html" %}

{% block body %}
<p>
Please make your selection ({{logged_in_as}}):

</p>
<form method="GET" action="/pilot">
    <input type="SUBMIT" value="Pilots Data">
</form>
<form method="GET" action="/team">
    <input type="SUBMIT" value="Departures Team Data">
</form>
<form method="GET" action="/crew">
    <input type="SUBMIT" value="Booking Crew Data">
</form>

        <hr />
        <form method="GET" action="/apitester">
            <input type="SUBMIT" value="Awesome API Tester">
        </form>

        {% if usertype == 'admin' %}
        <hr />
        <form method="GET" action="/admin">
            <input type="SUBMIT" value="Admin Console">
        </form>
        {% endif %}

{% endblock %}
